<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @message.content %>
</p>

<p>
  <strong>User:</strong>
  <%= image_tag @message.user.avatar %>
</p>

<p>
  <strong>Response on message:</strong>
  <%= @message.message.content[0..50] if @message.message %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
